page-login-ingreso {
    #welcome {
        background-color: color($colors, red)
    }
    .item-md{
       background-color: color($colors, red);
    }

    #img {
   position: relative;
    }

    #centrado {
       text-align: center;
       position: relative;

    }
}
